---
import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { isPreview } from "../utils";
import generateStaticPaths from "@/utils/generateStaticPaths";
import '@/styles/_globals.less';

export async function getStaticPaths() {
  return await generateStaticPaths();
}

const { slug, language, langSwitch } = Astro.props;

const storyblokApi = useStoryblokApi();

let story = null;

try {
  const { data } = await storyblokApi.get(`cdn/stories/${slug === undefined ? "home" : slug}`, {
    version: isPreview() ? "draft" : "published",
    resolve_relations: "featured-links.test_links",
    resolve_links: "url",
    language,
  });

  story = data.story;
} catch (error) {
  console.error("Page not found:", error);
}
---

<BaseLayout langSwitch={langSwitch} language={language} story={story}>
  {story ? (
    <StoryblokComponent language={language} blok={story.content} />
  ) : (
    <div>
      <p>Page not found</p>
    </div>
  )}
</BaseLayout>
